.logo{
  width:200px;
  margin:auto;
  padding:20px;
}

.register-form{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 570px;
    margin: auto;
    padding: 30px;
}
.register-form input{
   
    
}
